/*

  MODULE NAME

  Use this scaffolding to create or extend your own modules with tachyons
  style architecture.

*/

// Variables
@import '../_variables';


@each $name, $value in $map-name {
  .preffix-#{$name} { property: $value; }
}

@each $suffix, $value in $breakpoints {
  @media #{$value} {
    @each $name, $value in $map-name {
      .preffix-#{$name}-#{$suffix} { property: $value; }
    }
  }
}
