/*

   BACKGROUND REPEAT

   Media Query Extensions:
     -ns = not-small
     -m  = medium
     -l  = large

   Often used in combination with background image set as an inline style
   on an html element.
*/

// Variables
@import '../_variables';


@each $name, $value in $bg-repeats {
  .bg-repeat-#{$name} { background-repeat: $value; }
}

@each $suffix, $value in $breakpoints {
  @media #{$value} {
    @each $name, $value in $bg-repeats {
      .bg-repeat-#{$name}-#{$suffix} { background-repeat: $value; }
    }
  }
}
