/*

   DISPLAY
   Docs: http://tachyons.io/docs/layout/display

   Base:
    d = display

   Modifiers:
    n              = none
    i              = inline
    b              = block
    ib             = inline-block
    it             = inline-table
    t              = table
    tc             = table-cell
    t-row          = table-row
    t-row-group    = table-row-group
    t-column       = table-column
    t-column-group = table-column-group

   Media Query Extensions:
     -ns = not-small
     -m  = medium
     -l  = large

*/

// Variables
@import '../_variables';


@each $name, $value in $displays {
  .d#{$name} { display: $value; }
}

/*
  This will set table to full width and then
  all cells will be equal width
*/
.dt--fixed {
  table-layout: fixed;
  width: 100%;
}

@each $suffix, $value in $breakpoints {
  @media #{$value} {
    @each $name, $value in $displays {
      .d#{$name}-#{$suffix} { display: $value; }
    }
    .dt--fixed-#{$suffix} {
      table-layout: fixed;
      width: 100%;
    }
  }
}
