/*

  FLEXBOX

  Media Query Extensions:
   -ns = not-small
   -m  = medium
   -l  = large

*/

// Variables
@import '../_variables';


/* General */
.flex { display: flex; }
.inline-flex { display: inline-flex; }

/* 1. Fix for Chrome 44 bug.
 * https://code.google.com/p/chromium/issues/detail?id=506893 */
.flex-auto {
  flex: 1 1 auto;
  min-width: 0; /* 1 */
  min-height: 0; /* 1 */
}

.flex-none { flex: none; }

@each $suffix, $value in $breakpoints {
  @media #{$value} {
  	.flex-#{$suffix} { display: flex; }
  	.inline-flex-#{$suffix} { display: inline-flex; }
  	.flex-auto-#{$suffix} { flex: 1 1 auto; min-width: 0; min-height: 0; }
  	.flex-none-#{$suffix} { flex: none; }
  }
}


/* Flex Directions */
@each $name, $value in $flex-directions {
  .#{$name} { flex-direction: $value; }
}

@each $suffix, $value in $breakpoints {
  @media #{$value} {
    @each $name, $value in $flex-directions {
      .#{$name}-#{$suffix} { flex-direction: $value; }
    }
  }
}


/* Flex Wraps */
@each $name, $value in $flex-wraps {
  .#{$name} { flex-wrap: $value; }
}

@each $suffix, $value in $breakpoints {
  @media #{$value} {
    @each $name, $value in $flex-wraps {
      .#{$name}-#{$suffix} { flex-wrap: $value; }
    }
  }
}


/* Justify Contents */
@each $name, $value in $flex-justify-contents {
  .#{$name} { justify-content: $value; }
}

@each $suffix, $value in $breakpoints {
  @media #{$value} {
    @each $name, $value in $flex-justify-contents {
      .#{$name}-#{$suffix} { justify-content: $value; }
    }
  }
}


/* Align Items */
@each $name, $value in $flex-align-items {
  .#{$name} { align-items: $value; }
}

@each $suffix, $value in $breakpoints {
  @media #{$value} {
    @each $name, $value in $flex-align-items {
      .#{$name}-#{$suffix} { align-items: $value; }
    }
  }
}


/* Align Contents */
@each $name, $value in $flex-align-contents {
  .#{$name} { align-content: $value; }
}

@each $suffix, $value in $breakpoints {
  @media #{$value} {
    @each $name, $value in $flex-align-contents {
      .#{$name}-#{$suffix} { align-content: $value; }
    }
  }
}


/* Align Selfs */
@each $name, $value in $flex-align-selfs {
  .#{$name} { align-self: $value; }
}

@each $suffix, $value in $breakpoints {
  @media #{$value} {
    @each $name, $value in $flex-align-selfs {
      .#{$name}-#{$suffix} { align-self: $value; }
    }
  }
}


/* Flex Grows & Shrinks */
@each $group, $values in $flex-grow-factors {
  @each $name, $value in $values {
    .#{$name} { flex-#{$group}: $value; }
  }
}

@each $suffix, $value in $breakpoints {
  @media #{$value} {

    @each $group, $values in $flex-grow-factors {
      @each $name, $value in $values {
        .#{$name}-#{$suffix} { flex-#{$group}: $value; }
      }
    }

  }
}


/* Orders */
@each $name, $value in $flex-orders {
  .#{$name} { order: $value; }
}

@each $suffix, $value in $breakpoints {
  @media #{$value} {
    @each $name, $value in $flex-orders {
      .#{$name}-#{$suffix} { order: $value; }
    }
  }
}
