/*

   FONT WEIGHT
   Docs: http://tachyons.io/docs/typography/font-weight/

   Base
     fw = font-weight

   Modifiers:
     1 = literal value 100
     2 = literal value 200
     3 = literal value 300
     4 = literal value 400
     5 = literal value 500
     6 = literal value 600
     7 = literal value 700
     8 = literal value 800
     9 = literal value 900
     i = inherit form parent

   Media Query Extensions:
     -ns = not-small
     -m  = medium
     -l  = large

*/

// Variables
@import '../_variables';


.normal { font-weight: normal; }
.b      { font-weight: bold; }
@each $name, $value in $font-weights {
  .fw#{$name} { font-weight: $value; }
}

@each $suffix, $value in $breakpoints {
  @media #{$value} {
    .normal-#{$suffix} { font-weight: normal; }
    .b-#{$suffix} { font-weight: bold; }
    @each $name, $value in $font-weights {
      .fw#{$name}-#{$suffix} { font-weight: $value; }
    }
  }
}
