/*

   HEIGHTS
   Docs: http://tachyons.io/docs/layout/heights/

   Base:
     h = height
     min-h = min-height
     min-vh = min-height vertical screen height
     vh = vertical screen height

   Modifiers
     1 = 1st step in height scale
     2 = 2nd step in height scale
     3 = 3rd step in height scale
     4 = 4th step in height scale
     5 = 5th step in height scale

     -25   = literal value 25%
     -50   = literal value 50%
     -75   = literal value 75%
     -100  = literal value 100%

     -auto = string value of auto
     -inherit = string value of inherit

   Media Query Extensions:
     -ns = not-small
     -m  = medium
     -l  = large

*/

// Variables
@import '../_variables';


@each $name, $values in $heights {
  .#{$name} {
    @each $value in $values { height: $value; }
  } .min-#{$name} {
    @each $value in $values { min-height: $value; }
  } .max-#{$name} {
    @each $value in $values { max-height: $value; }
  }
}

@each $suffix, $value in $breakpoints {
  @media #{$value} {
    @each $name, $values in $heights {
      .#{$name}-#{$suffix} {
        @each $value in $values { height: $value; }
      } .min-#{$name}-#{$suffix} {
        @each $value in $values { min-height: $value; }
      } .max-#{$name}-#{$suffix} {
        @each $value in $values { max-height: $value; }
      }
    }
  }
}
