/*

   IMAGE RENDERING

*/

// Variables
@import '../_variables';


@each $name, $value in $image-renderings {
  .ir-#{$name} { image-rendering: $value; }
}

@each $suffix, $value in $breakpoints {
  @media #{$value} {
    @each $name, $value in $image-renderings {
      .ir-#{$name}-#{$suffix} { image-rendering: $value; }
    }
  }
}
