/*

   OUTLINES

   Media Query Extensions:
     -ns = not-small
     -m  = medium
     -l  = large

*/

// Variables
@import '../_variables';


@each $name, $value in $outlines {
  .#{$name} { outline: $value; }
}

@each $suffix, $value in $breakpoints {
  @media #{$value} {
    @each $name, $value in $outlines {
      .#{$name}-#{$suffix} { outline: $value; }
    }
  }
}
