/*

   POINTER EVENTS

   Base:
    pe = pointer-events

   Media Query Extensions:
     -ns = not-small
     -m  = medium
     -l  = large

*/

// Variables
@import '../_variables';


@each $name, $value in $pointer-events {
  .pe-#{$name} { pointer-events: $value; }
}

@each $suffix, $value in $breakpoints {
  @media #{$value} {
    @each $name, $value in $pointer-events {
      .pe-#{$name}-#{$suffix} { pointer-events: $value; }
    }
  }
}
