/*

   ROTATIONS

*/

// Variables
@import '../_variables';


@each $name, $value in $rotations {
  .rotate-#{$name} { transform: rotate($value); }
}

@each $suffix, $value in $breakpoints {
  @media #{$value} {
    @each $name, $value in $rotations {
      .rotate-#{$name}-#{$suffix} { transform: rotate($value); }
    }
  }
}
