/*

   UTILITIES

   Media Query Extensions:
     -ns = not-small
     -m  = medium
     -l  = large

*/

// Variables
@import '../_variables';


/* Equivalent to .overflow-y-scroll */
.overflow-container {
  overflow-y: scroll;
}

.center {
  margin-right: auto;
  margin-left: auto;
}

@each $suffix, $value in $breakpoints {
  @media #{$value} {
    .center-#{$suffix} {
      margin-right: auto;
      margin-left: auto;
    }
  }
}
