/*

   VERTICAL ALIGN

   Media Query Extensions:
     -ns = not-small
     -m  = medium
     -l  = large

*/

// Variables
@import '../_variables';


@each $name, $value in $vertical-aligns {
  .v-#{$name} { vertical-align: $value; }
}

@each $suffix, $value in $breakpoints {
  @media #{$value} {
    @each $name, $value in $vertical-aligns {
      .v-#{$name}-#{$suffix} { vertical-align: $value; }
    }
  }
}
