/*

  WORD BREAK

  Base:
    word = word-break

  Media Query Extensions:
    -ns = not-small
    -m  = medium
    -l  = large

*/

// Variables
@import '../_variables';


@each $name, $value in $word-breaks {
  .word-#{$name} { word-break: $value; }
}

@each $suffix, $value in $breakpoints {
  @media #{$value} {
    @each $name, $value in $word-breaks {
      .word-#{$name}-#{$suffix} { word-break: $value; }
    }
  }
}
