/*! TACHYONS v4.7.15 | http://tachyons.io */

/*
 *
 *      ________            ______
 *      ___  __/_____ _________  /______  ______________________
 *      __  /  _  __ `/  ___/_  __ \_  / / /  __ \_  __ \_  ___/
 *      _  /   / /_/ // /__ _  / / /  /_/ // /_/ /  / / /(__  )
 *      /_/    \__,_/ \___/ /_/ /_/_\__, / \____//_/ /_//____/
 *                                 /____/
 *
 *    TABLE OF CONTENTS
 *
 *    1. External Library Includes
 *       - Normalize.css | http://normalize.css.github.io
 *    2. Tachyons Modules
 *    3. Variables
 *       - Media Queries
 *       - Colors
 *    4. Debugging
 *       - Debug all
 *       - Debug children
 *
 */

/* External Library Includes */
@import '_normalize';

// Variables
@import '_variables';

/* Modules */
@import 'modules/box-sizing';
@import 'modules/aspect-ratios';
@import 'modules/images';
@import 'modules/background-overlays';
@import 'modules/background-size';
@import 'modules/background-position';
@import 'modules/background-repeat';
@import 'modules/outlines';
@import 'modules/borders';
@import 'modules/border-colors';
@import 'modules/border-style';
@import 'modules/border-widths';
@import 'modules/border-radius';
@import 'modules/box-shadow';
@import 'modules/code';
@import 'modules/columns';
@import 'modules/coordinates';
@import 'modules/clears';
@import 'modules/display';
@import 'modules/flexbox';
@import 'modules/floats';
@import 'modules/font-family';
@import 'modules/font-style';
@import 'modules/font-weight';
@import 'modules/forms';
@import 'modules/heights';
@import 'modules/image-rendering';
@import 'modules/letter-spacing';
@import 'modules/line-height';
@import 'modules/links';
@import 'modules/lists';
@import 'modules/widths';
@import 'modules/mix-blend-modes';
@import 'modules/object-fit';
@import 'modules/object-position';
@import 'modules/overflow';
@import 'modules/overflow-wraps';
@import 'modules/position';
@import 'modules/opacity';
@import 'modules/cursors';
@import 'modules/pointer-events';
@import 'modules/rotations';
@import 'modules/skins';
@import 'modules/skins-pseudo';
@import 'modules/svg-skins';
@import 'modules/svg-skins-pseudo';
@import 'modules/spacing';
@import 'modules/negative-margins';
@import 'modules/tables';
@import 'modules/text-decoration';
@import 'modules/text-align';
@import 'modules/text-transform';
@import 'modules/type-scale';
@import 'modules/typography';
@import 'modules/utilities';
@import 'modules/visibility';
@import 'modules/white-space';
@import 'modules/word-break';
@import 'modules/hyphens';
@import 'modules/vertical-align';
@import 'modules/hovers';
@import 'modules/z-index';
@import 'modules/nested';

@import 'styles';

/* Debugging */
@import 'modules/debug-children';
@import 'modules/debug-grid';

/* Uncomment out the line below to help debug layout issues */
// @import 'modules/debug';
